.acf-fcm-module-audit-results {
  ul.groups {
    > li {
      font-weight: bold;
      font-size: 16px;

      h3 {
        font-size: 16px;
        margin: 4px 0;
        cursor: pointer;
      }

      ul.fields {
        margin-left: 20px;
        display: none;

        > li {
          h4 {
            font-size: 14px;
            margin: 4px 0;
            cursor: pointer;
          }

          ul.modules {
            margin-left: 40px;
            display: none;

            &.show {
              display: block;
            }

            > li {
              font-size: 12px;

              h5 {
                font-size: 14px;
                margin: 4px 0;
                cursor: pointer;

                &.empty {
                  color: red;
                  cursor: default;
                }
              }

              ul.urls {
                margin-left: 60px;
                display: none;
              }
            }
          }
        }
      }

    }
  }
}
